# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Database
*.db

# Uploaded client files
uploads/

# Local tunneling tools
ngrok
ngrok*
cloudflared*

# Environment variables
.env

# OS
.DS_Store
