{% extends "base.html" %}


{% block title %}
Dashboard — VIKAS
{% endblock %}


{% block content %}


<section class="dashboard">


<h1>
Welcome, {{ session["user_name"] }}
</h1>


<p>
Your creative workspace.
</p>



<h2>
My Projects
</h2>



<div class="dashboard-grid">


{% if projects %}


{% for project in projects %}


<div class="dash-card">


<h2>
{{ project.project_type }}
</h2>


<p>
Service:
{{ project.service_name }}
</p>


<p>
Package:
{{ project.package_name }}
</p>


<p>
Price:
₹{{ project.price }}
</p>



<span class="status-badge">

{{ project.status }}

</span>
<br><br>

<a 
href="/project/{{project.id}}/chat"
class="cta-btn magnetic">

Open Chat

</a>

</div>


{% endfor %}



{% else %}


<div class="dash-card">

<h2>No Projects Yet</h2>

<p>
Start your first creative project.
</p>


<a href="/services"
class="cta-btn magnetic">

Explore Services

</a>


</div>


{% endif %}


</div>



<a href="/logout"
class="secondary-link">

Logout

</a>



</section>


{% endblock %}
