{% extends "base.html" %}


{% block content %}


<section class="auth-page">


<h1>
Complete Your Payment
</h1>


<h2>
₹{{project.price}}
</h2>


<p>
{{project.service_name}}

-
{{project.package_name}}
</p>



<button
id="pay-btn"
class="cta-btn magnetic">

Pay Securely

</button>


</section>



<script src=
"https://checkout.razorpay.com/v1/checkout.js">
</script>



<script>


var options={


key:"{{key}}",


amount:"{{order.amount}}",


currency:"INR",


name:"VIKAS Creative Studio",


order_id:"{{order.id}}",


handler:function(response){


fetch(
"/payment-success/{{project.id}}",
{

method:"POST",


headers:{

"Content-Type":

"application/json"

},


body:JSON.stringify({

payment_id:

response.razorpay_payment_id

})

}

)

.then(()=>{

window.location.href=

"/client-dashboard"

})


}


};



document
.getElementById("pay-btn")
.onclick=function(){


new Razorpay(options).open();


}


</script>



{% endblock %}
