{% extends "base.html" %}

{% block title %}
Create Account — VIKAS
{% endblock %}


{% block content %}

<section class="auth-page">

<div class="auth-box">

<h1>Create Account</h1>

<p>
Start your creative project journey.
</p>


<form method="POST">

<input 
type="text"
name="name"
placeholder="Full Name"
required>


<input
type="email"
name="email"
placeholder="Email"
required>


<input
type="password"
name="password"
placeholder="Password"
required>


<button class="cta-btn magnetic">
Create Account
</button>


</form>


<a href="/login">
Already have an account?
Login
</a>


</div>

</section>

{% endblock %}
