{% extends "base.html" %}

{% block title %}Thank You — VIKAS{% endblock %}

{% block content %}
<section style="padding: 120px 20px; text-align:center;">
    <h1>Project Submitted Successfully</h1>
    <p style="margin-top:20px; color:#aaa;">
        Thank you for choosing VIKAS Creative Studio.
        <br>
        Your project request has been received.
    </p>

    <p style="margin-top:10px; color:#aaa;">
        You will receive updates via email.
    </p>

    <a href="/" class="cta-btn" style="margin-top:40px; display:inline-block;">
        Back to Home
    </a>
</section>
{% endblock %}
